@import url('https://fonts.googleapis.com/css?family=Open+Sans|Righteous&display=swap');

body {
    font-family: "Open Sans", Helvetica, sans-serif;
    margin: 0 auto;
}

/* HEADER --------------------------------------------*/
header {
    background-color: #ddd;
    padding: 0.5em;
    text-align: center;
}

header h1 {
    font-family: "Righteous";
    color: #e16b1b;
    font-size: 2.5em;
}

/* MAIN ----------------------------------------------*/
/* Base view (mobile)*/
main {
	max-width: 990px;
}
section {
    display: grid;
    grid-template-columns: 1fr;
    padding: 2em;
}
div h2,h3,a,img,p {
    padding: 0.5em;
}
div img {
    margin-top: 1em;
}

/* Mediuem view (tablet)*/
@media only screen and (min-width: 37.5em) {
	section {
		display: grid;
		grid-template-columns: 1fr 1fr;
		margin: 2em;
		grid-gap: 2em;
	}
}
/* Large view (desktop)*/
@media only screen and (min-width: 60em) {
	section {
		max-width: 900px;
		display: grid;
		grid-template-columns: 1fr 1fr;
		margin: 3em;
		grid-gap: 2em;
	}
}

/* FOOTER---------------------------------------------*/
footer {
    background-color: #ddd;
    padding: 0.75em;
    text-align: center;
    color: #444;
}

footer p {
    margin-bottom: 0.25em;
}
footer a {
    color: #444;
}

#update {
    margin-top: 0;
    font-weight: bold;
    color: #e16b1b;
    font-size: 0.85em;
}